<div class="project">
  <div class="content-left">
    <img src="./img/me.png" alt="Luca's Image" />
  </div>
  <div class="content-right">
    <h3>Project Name</h3>
    <p>
      Lorem ipsum es simplemente el texto de relleno de las imprentas y
      archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar
                        de las industrias desde el año 1500, cuando un impresor...
    </p>
    <a href="http://google.com">Link to the project</a>
  </div>
</div>